body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.topnav {
  background-color: #C9BBCF;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #898AA6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.5s;
}

.topnav a:hover {
  background-color: #898AA6;
  color: #F3F1F5;
}

.topnav a.active {
  background-color: #898AA6;
  color: white;
}

h1 {
  color: #898AA6;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #898AA6;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #898AA6;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #898AA6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #898AA6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #F3F1F5;
}

.top-container {
  background-color: #C9BBCF;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #C9BBCF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}


.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: 40px auto 60px;
}

.copyright {
  color: #F3F1F5;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.developer-image {
  float: left;
  margin-right: 30px;
  width: 25%
}

.ecommerce-image {
  float: right;
  margin-left: 30px;
  width: 25%
}

.list-work {
  text-align: left;
  line-height: 2;
  margin: auto 50px;
}

.list-education {
  text-align: left;
  line-height: 2;
  margin: auto 50px;
}

table {
margin: 0 auto;

}

.btn {
  background: #C9BBCF;
  background-image: -webkit-linear-gradient(top, #C9BBCF, #C9BBCF);
  background-image: -moz-linear-gradient(top, #C9BBCF, #C9BBCF);
  background-image: -ms-linear-gradient(top, #C9BBCF, #C9BBCF);
  background-image: -o-linear-gradient(top, #C9BBCF, #C9BBCF);
  background-image: linear-gradient(to bottom, #C9BBCF, #C9BBCF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #898AA6;
  background-image: -webkit-linear-gradient(top, #898AA6, #C9BBCF);
  background-image: -moz-linear-gradient(top, #898AA6, #C9BBCF);
  background-image: -ms-linear-gradient(top, #898AA6, #C9BBCF);
  background-image: -o-linear-gradient(top, #898AA6, #C9BBCF);
  background-image: linear-gradient(to bottom, #898AA6, #C9BBCF);
  text-decoration: none;
}
